:root {
  --primary-color: #3949ab;
  --primary-color-hover: #303d8c;
}

.bg-navbar {
  background-color: var(--primary-color) !important;
}
.btn-outline-primary {
  --bs-btn-color: var(--primary-color) !important;
  --bs-btn-border-color: var(--primary-color) !important;
  --bs-btn-hover-bg: var(--primary-color) !important;
  --bs-btn-hover-border-color: var(--primary-color) !important;
  --bs-btn-active-bg: var(--primary-color) !important;
  --bs-btn-active-border-color: var(--primary-color) !important;
  --bs-btn-disabled-color: var(--primary-color) !important;
  --bs-btn-disabled-border-color: var(--primary-color) !important;
}

.btn-primary {
  --bs-btn-bg: var(--primary-color) !important;
  --bs-btn-border-color: var(--primary-color) !important;
  --bs-btn-hover-bg: var(--primary-color-hover) !important;;
  --bs-btn-hover-border-color: var(--primary-color-hover) !important;;
}
